<div class="index">
  <div class="form">
    <h1>Welcome <% if user_signed_in? %>
        <%= current_user.email %></h1>
      <h3>Create new post</h3>
      <%= simple_form_for @post do |f| %>
      <p>
        <%= f.text_area :content %>
        <%= hidden_field :user_id, :value => current_user.id %>
        <p>
          <p>
            <%= f.button :submit %>
          </p>
        <% end %>
        <% else %> stranger </h1>
      <% end %>
    </div>
    <div class="posts">
      <%= render partial: "shared/post", collection: @all_posts %>
    </div>
  </div>
